section p {
    font-size: 17px;

}

section>div {
    background: linear-gradient(90deg, rgb(10, 10, 10) 0%, rgb(22, 22, 22) 40%, rgb(22, 22, 22) 60%, rgb(10, 10, 10) 100%);
}

section>div>div {
    position: relative;
}

section>div>div h2 {
    position: relative;
    display : block;

    font-weight: bold;

    margin: 0px auto;

    width: 4em;
}

section h2::before {
    content: "";

    position: absolute;
    right   : 5em;
    top     : 0.6em;

    height    : 3px;
    width     : 20vw;
    background: linear-gradient(270deg, rgb(255, 0, 255) 0%, rgba(0, 0, 0, 0) 100%);
}

section h2::after {
    content: "";

    position: absolute;
    left    : 5em;
    top     : 0.6em;

    height    : 3px;
    width     : 20vw;
    background: linear-gradient(90deg, rgb(255, 0, 255) 0%, rgba(0, 0, 0, 0) 100%);

}