* {
    /* 字體 */
    font-family: "M PLUS Rounded 1c", sans-serif;
    font-family: "Noto Sans TC", sans-serif;
}

h1,
p {
    margin-bottom: 0px;
}


ol,
ul,
li {
    list-style-type: none;
    text-align     : start;
}


/* 漢堡按鈕優化 */

/*
把bs的 navbar-toggler 預設的focus樣式全設回預設
然後多寫一個active蓋過去
*/
.navbar-toggler:focus {
    text-decoration: none;
    outline        : auto;
    box-shadow     : none;
}

.navbar-toggler:active {
    text-decoration: none;
    outline        : 0;
    box-shadow     : 0 0 0 0.25rem;
}

/* 漢堡按鈕優化結束 */



/* 錨點 */
/* .anchorPoint {
    display   : block;
    position  : relative;
    top       : -85.8px;
    visibility: hidden;
} */
/* 錨點結束 */



.headerImageBox {
    /* 首頁大圖往下推 */
    margin-top: 85px;
}

.img-fluid {
    /* 蓋掉bs圖片的 max-width */
    width: 100%;
}

/* 關於我們開始 */
/* #aboutUs button {
    width: auto;
} */

/* 關於我們結束 */


/* 歷年實積內容放置區 */
.achievementContent {
    background-color: rgba(0, 0, 0, 0.500);

}

.achievementContent button {
    opacity: 1;

}

.modal-header{
    border: none;
}




/* 歷年實積內容放置區結束 */



footer .logo {
    width: 250px;

}