/* 代表h1~6都受到Noto Sans TC字體影響 */
h1,
h2,
h3,
h4,
h5,
h6 {
    font-family: 'Noto Sans TC', sans-serif;
}

/* 所有內文字體都受到Open Sans字體影響 */
p,
a,
input,
label,
textarea,
span,
ul,
li {
    font-family: 'Open Sans', sans-serif;
}

h3 {
    /* 所有h3都套用 */
    /* 字體大小36px 行高1.5 底邊界80px*/
    font-size: 36px;
    line-height: 1.5;
    margin-bottom: 80px;
}

p {
    /* 所有p的顏色都是這個 */
    color: #707070;
}

p.lead {
    /* 注意! 如果假如 p.lead p跟.中間沒有空格代表會看tag */
    /* 必須同時符合才會套用 */
    color: black;
}

img {
    /* 讓圖片的大小鎖定在div的100% */
    max-width: 100%;
}

/* btn前面沒有#代表網頁所有按鈕都是這個樣式 */
/* background=按鈕底色 , color=字體顏色 , padding=按鈕的 (高.寬) , border-radius按鈕的圓角程度 */
.btn {
    background: #F05F5C;
    color: WHITE;
    padding: 9px 20px;
    border-radius: 20px;
}


/* id=intro 底下的jumbotron */
#intro .jumbotron {
    /* vh代表整個div的高度 */
    /* background-color 讓jumbotron的底色變灰 */
    height: 70vh;
    background-color: #e9ecef
}

#intro h1 {
    /* 字體大小,字體粗度,離上面有多遠 */
    font-size: 52px;
    font-weight: 800;
    line-height: 1.5;
}

#intro .container {
    /* 相對位置 離上面的位置50% , 離底部的位置-50% */
    position: relative;
    top: 50%;
    transform: translateY(-50%);
}

header nav img {
    /* 在header 的nav裡面所有的img */
    width: 50px;
}

header li {
    /* header裡面的li 距離上下0px 左右8px */
    margin: 0 8px;
}

/* ---------- ----------以上為第一部分---------- ---------- */

#Second {
    /* Second的上下距離50px 左右0px */
    padding: 50px 0px;
}



#Second img {
    /* #Second 內的圖片大小 元素的外框圓角100%圓度*/
    /* 上邊界40px  下邊界10px */
    width: 130px;
    border-radius: 100%;
    line-height: 40px;
    margin-bottom: 10px;
}

/* ---------- ----------以上為第二部分---------- ---------- */

#latest {
    /* 距離上下80px 左右0 */
    padding: 80px 0px;
    background: rgb(248, 248, 248);
}

#latest h3 {
    /* latest 的標題底高80px */
    margin-bottom: 80px;
}

#latest .upper {
    /* 注意! 子元素想設定相對位置時 父元素必須要有相對位置 */
    /* relative 相對位置 */
    position: relative;
}

#latest .outer {
    /* 把outer底色變白色 然後外框加點陰影效果 */
    background: white;
    box-shadow: 0 0 8px 0 rgb(0, 0, 0, 0.08);
}

#latest .lower {
    padding: 6px 20px 20px 20px;
}

#latest .innertext {
    /* 注意!此為upper子元素 父元素沒有位置設定此子元素會亂跑 */
    /* absolute 絕對位置 */
    position: absolute;
    bottom: 24px;
    left: 24px;
}

#latest .innertext span {
    /* 可報名的 底色和透明度 底色寬高 圓角角度 */
    background: rgba(255, 255, 255, 0.4);
    padding: 6px 15px;
    border-radius: 20px;
}

#latest .innertext h4 {
    font-size: 25px;
    margin-top: 10px;
}

#latest .lower h3 {
    font-size: 24px;
    margin-bottom: 12px;
    margin-top: 12px;
}

#latest .lower i {
    /* 網路icon圖示庫的圖片右邊間隔10px */
    margin-right: 10px;
}

#latest a {
    /* 注意! */
    /* 將a tag中自帶的藍色字體元素變成黑色 */
    /* 沒有把滑鼠移上去時的底線也不要 */
    color: black;
    text-decoration: none;
}

#latest a:hover {
    /* 注意! */
    /* 這裡跟教學不太一樣 上面去掉底線之後這裡就不會出現了 */
    /* hover = 滑鼠移到元素上的變化 這裡是讓移上去之後顯示底線的功能不要出現 */
    text-decoration: none;
}

/* ---------- ----------以上為第三部分---------- ---------- */

#email {
    padding: 80px 0px;
}

#email .input-group {
    margin-bottom: 15px;
}

#email h3 {
    margin-bottom: 80px 0px;
}

/* ---------- ----------以上為第四部分---------- ---------- */

footer img {
    width: 72px;
    margin-bottom: 20px;
}

footer {
    /* 在上面加一條線 把左右邊框大小設為零 不然左右會有框 上距離50px 下距離0px 顏色灰 */
    border: solid 1px #c9c9c9;
    border-left: 0px;
    border-right: 0px;
    padding: 50px 0px;
}

footer h4 {
    margin-bottom: 25px;
}

footer a {
    color: red;
}

footer ul {
    /* 把 ul 元素文字左邊的圓點符號取消 然後把位置往左移 */
    /*  float 用來定義區塊的浮動，可以設定為靠左浮動或靠右浮動 */
    /* 距離右方50px距離   */

    list-style: none;
    padding: 0px;
    float: left;
    margin-right: 50px;


}

footer ul li {
    /* 讓ul li的文字距離下方10px遠 */
    margin-bottom: 10px;
}

footer ul li a {
    color: #707070;
}


@media only screen and (max-width: 768px) {
    /* 注意!重要! */
    /* 當畫面解析度小於768像素時才執行 */
    #second h5 {
        margin-bottom: 63px;
    }

    /* ----- 以上第二段 -----  */

    #latest .outer {
        /* 解析度太小圖片會擠在一起 把下面的距離弄遠一點 */
        margin-bottom: 54px;
    }

    #latest .outer img {
        width: 100%;
    }

    /* ----- 以上第三段 ----- */

    footer h4 {
        margin-bottom: 26px;
        margin-top: 35px;
    }



}