html {
  font-family: sans-serif;
}

body {
  width: 50%;
  max-width: 800px;
  min-width: 480px;
  margin: 0 auto;
}

.number {
  margin: 0 auto;
}

.guessItem {
  padding: 20px;
  background-color: rgb(206, 206, 206);
}

.lastResult {
  color: white;
  padding: 3px;
  text-align: center;
}

.lowOrHi {
  text-align: center;
}

.promptMessage {
  text-align: center;
}

.bigOrsmall {
  margin: 100px 0px;
  padding: 30px;
  background-color: rgb(206, 206, 206);
}

.outPut button {
  display: block;
  margin: 0 auto;
}
