<!DOCTYPE html>
<html lang="zh-TW">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Mytodolist</title>

    <!-- 字體 -->

    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link
        href="https://fonts.googleapis.com/css2?family=M+PLUS+Rounded+1c:wght@300&family=Noto+Sans+TC:wght@300&display=swap"
        rel="stylesheet">

    <link rel="stylesheet" href="css/normalize.css">

    <!-- bs -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.1/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-F3w7mX95PdgyTmZZMECAngseQB83DfGTowi0iMjiWaeVhAn4FJkqJByhZMI3AhiU" crossorigin="anonymous">
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.1/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-/bQdsTh/da6pkI1MST/rWKFNjaCP5gBSY4sEBT38Q/9RBh9AH40zEOg7Hlq2THRZ"
        crossorigin="anonymous"></script>

    <!-- css -->
    <link rel="stylesheet" href="css/style.css">


    <!-- js -->
    <script src="https://cdn.jsdelivr.net/npm/axios/dist/axios.min.js"></script>
    <script defer src="script/vue.js"></script>
    <script defer src="script/index.js"></script>
</head>

<body>

    <nav class="d-flex justify-content-center align-content-center">

        <div class="d-flex flex-lg-column justify-content-lg-around align-items-lg-center">
            <img v-show="!loading" src="/images/notebook.png" class="me-1" alt="To-Do-List圖示">
            <a class="To-Do-List" href="#">
                To-Do-List
            </a>
        </div>

    </nav>

    <div id="app">

        <div id="listContent" class="d-flex flex-wrap justify-content-center mx-auto ms-lg-auto me-lg-0">

            <div v-show=" appliedArea==='allItem'" class="articleTemp">
                <!-- 文章組件 -->
                <article-box v-for=" data in articleDataArray" :key="data.id" :article-data="data"
                    :item-state="itemButton" @change-menu="data.menu = $event" @item-button-temp="itemButton = $event"
                    @item-class-temp="data.menuClass = $event" @article-state-temp="articleState"
                    @set-article-state-temp="setArticleState" @edit-article-temp="editArticle"
                    @remove-article-temp="removeArticle">

                </article-box>
            </div>

            <div v-show="appliedArea === 'toDo'" class="articleTemp">
                <article-box v-for="data in toDoData" :key="data.id" :article-data="data" :item-state="itemButton"
                    @change-menu="data.menu = $event" @item-button-temp="itemButton = $event"
                    @item-class-temp="data.menuClass = $event" @article-state-temp="articleState"
                    @set-article-state-temp="setArticleState" @edit-article-temp="editArticle"
                    @remove-article-temp="removeArticle">

                </article-box>
            </div>

            <div v-show="appliedArea === 'getThingsDone'" class="articleTemp">
                <article-box v-for="data in getThingsDoneData" :key="data.id" :article-data="data"
                    :item-state="itemButton" @change-menu="data.menu = $event" @item-button-temp="itemButton = $event"
                    @item-class-temp="data.menuClass = $event" @article-state-temp="articleState"
                    @set-article-state-temp="setArticleState" @edit-article-temp="editArticle"
                    @remove-article-temp="removeArticle">

                </article-box>
            </div>

            <div v-show=" appliedArea === 'calendar'" class="calendarTemp">
                <div class="calendar d-flex flex-column text-center">
                    <div class="weekdays px-3 pt-3 text-light fs-5 fw-bold">
                        <ul class="d-flex justify-content-around p-0">
                            <li>一</li>
                            <li>二</li>
                            <li>三</li>
                            <li>四</li>
                            <li>五</li>
                            <li>六</li>
                            <li>日</li>
                        </ul>
                    </div>

                    <div class="calendarContent  py-3 px-3">
                        <!-- v-for -->

                        <li v-for="day in calendarData.oldDays">
                            <button class="dayBox oldDays">
                                <div type="button" class="dayBoxNumber">
                                    <div>{{day}}</div>
                                </div>
                            </button>
                        </li>

                        <li v-for="day in calendarData.days">
                            <button class="dayBox">
                                <div type="button" class="dayBoxNumber">
                                    <div>{{day}}</div>
                                </div>
                            </button>
                        </li>

                    </div>

                    <div class="calendarFunction d-flex justify-content-center align-items-center">
                        <form action="" class="d-flex justify-content-around align-items-center">
                            <!-- <label for="calendarInput">選擇月份：</label> -->
                            <button>-</button>
                            <!-- v-value  @input -->
                            <input :value="chooseDateRes" @input="chooseDateRes = $event" id="calendarInput"
                                type="month" class="mx-4">

                            <button>+</button>

                        </form>
                    </div>

                </div>

            </div>

            <transition>
                <div v-show="loading" id="loadingImg">
                    <img src="/images/notebook.gif" class="loadingNote" alt="loadingNote">
                    <p class="m-0 text-light">LOADING...</p>
                </div>

            </transition>
        </div>

        <transition>

            <div v-if="UIShow" @click="buttonMenuStyle" class="buttonMenu d-flex flex-lg-column justify-content-around">
                <button :class="UIStyle.allItem" @click="appliedArea = 'allItem'" class="col-3 ps-lg-5">
                    所有事項
                </button>
                <button :class="UIStyle.toDo" @click="appliedArea = 'toDo'" class="col-3 ps-lg-5">
                    待辦
                </button>
                <button :class="UIStyle.getThingsDone" @click="appliedArea = 'getThingsDone'" class="col-3 ps-lg-5">
                    結案
                </button>
                <button :class="UIStyle.calendar" @click="appliedArea = 'calendar'" class="col-3 ps-lg-5">
                    行事曆
                </button>
            </div>
        </transition>

        <!-- 全文章顯示區 -->
        <transition>
            <!-- ! v-if="articleShow" -->
            <article v-if="articleShow" class="fullArticle px-3 py-3 text-light">
                <section class="mx-auto p-4">
                    <div class="d-flex justify-content-center text-center ">
                        <!-- !文章標題 -->
                        <h3 class="pb-2 border-bottom">{{form.title}}</h3>
                    </div>
                    <div class="articleDate py-2 text-center">
                        <p>設定清單日期 : {{form.setDate.setY}}-{{form.setDate.setM}}-{{form.setDate.setD}}</p>
                        <p>預計達成日期 : {{form.date.y}}-{{form.date.m}}-{{form.date.d}}</p>
                    </div>
                    <div class="d-flex justify-content-center">
                        <!-- !文章內容  內文用v-html 因為要用 </br>-->
                        <p v-html="form.content"></p>
                    </div>

                    <!-- ! v-if="articleShow"  @click="articleState"-->
                    <button v-if="articleShow" @click="articleState" class="articlePlus returnButton">
                        <img src="/images/添加代辦事項/back.svg" alt="返回按鈕">
                    </button>

                </section>
            </article>
        </transition>

        <!-- 新增、修改清單區域 -->
        <transition name="article-form">

            <div v-show="articleForm" id="postArticle">
                <nav class="d-flex justify-content-between px-2">
                    <button @click="closeEditArticle">
                        <img src="/images/添加代辦事項/X.svg" alt="返回">
                    </button>
                    <h2 class="text-light">{{editArticleH2}}</h2>

                    <button type="submit" form="articleForm"><img src="/images/添加代辦事項/O.svg" alt="提交按鈕"></button>
                </nav>
                <form id="articleForm" method="POST" action="/" @submit.prevent="formSubmit"
                    class="container d-flex flex-column justify-content-between align-items-center pb-2">

                    <input v-model="form.title" type="text" name="title" placeholder="標題" class="inputForm inputTitle">

                    <input v-model="form.date" type="date" name="date" class="my-2">

                    <textarea v-model="form.content" name="content" cols="30" rows="17" placeholder="內文"
                        class="inputForm inputContent"></textarea>
                </form>
            </div>
        </transition>
        <transition>
            <button v-show="articlePlusShow" @click="articleForm = true" class="articlePlus"
                :style="{ width: plusButton.width + 'px', height: plusButton.height + 'px'}">
                <img src="/images/添加代辦事項/plus.svg" alt="添加代辦事項">
            </button>
        </transition>


    </div>


















</body>

</html>