body {
    display         : flex;
    width           : 100vw;
    height          : 100vh;
    justify-content : center;
    align-items     : center;
    background-image: url(https://i.imgur.com/b9r5sEL.jpg);
}

h2 {
    margin   : 0;
    padding  : 0;
    font-size: 2rem;
    color    : #fff;
}

p {
    margin     : 0;
    padding    : 0;
    font-size  : 1rem;
    font-weight: bold;
    color      : yellow;
}


ul {
    display        : flex;
    justify-content: space-between;
    width          : 80vw;
    margin         : 0px;
    padding        : 0px;
}

ul li {
    width: 10%;

    text-align: center;
    list-style: none;
}

ul li button {
    overflow     : hidden;
    padding      : 15px 20px;
    width        : 100%;
    background   : rgba(0, 0, 0, 0.472);
    border       : 5px solid rgb(0, 0, 0);
    border-radius: 5px;

    transform: scale(1, 1);

    box-shadow: 0px 0px 0px 0px rgb(255, 230, 0);
    transition: 0.05s;
}

ul div {
    transform : scale(1);
    transition: 0.05s;
}




.divOnKey {
    transform: scale(1.2)
}

.onKey {
    /* transform: scale(1.1, 1.1); */
    box-shadow: 0px 0px 20px 10px rgb(255, 230, 0);

}